.candidate-info-container {
    border: solid 1px #ec1c25;
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    width: 85vmin;
}

.candidate-info-container .info-wrapper {
    margin: 0 0.5rem;
}

.candidate-info-container .info-wrapper h3{
    font-size: calc(10px + 1vmin);
    font-weight: 500;
}
